<div class="modal-content">
  <h4><%= @metadata[:institution][:name] %></h4>
  <p>Select an account</p>

  <div id="accounts-list">
    <ul class="collection with-header">
      <% @metadata[:accounts].each_pair do |key, account| %>
        <li class="collection-item">
          <div class="row valign-wrapper">
            <div class="col s6">
              <%= account[:name] %><br>
              XXX<%= account[:mask] %><br>
              <%= account[:subtype].titleize %>
            </div>
            <div class="col s6">
              <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<div class="modal-footer">
  <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
</div>
