<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
  <div class="container-fluid">
    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Brand -->
    <%= link_to image_tag('sidenav-piggy.jpg', alt: 'Brand image'), dashboard_path, class: 'navbar-brand pt-0' %>
    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="sidenav-collapse-main">
      <!-- Collapse header -->
      <div class="navbar-collapse-header d-md-none">
        <div class="row">
          <div class="col-6 collapse-brand">
            <%= link_to image_tag('sidenav-piggy.jpg', alt: 'Brand image'), dashboard_path, class: 'navbar-brand pt-0' %>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <!-- Form -->
      <form class="mt-4 mb-3 d-md-none">
        <div class="input-group input-group-rounded input-group-merge">
          <input type="search" class="form-control form-control-rounded form-control-prepended" placeholder="Search" aria-label="Search">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span class="fa fa-search"></span>
            </div>
          </div>
        </div>
      </form>
      <!-- Navigation -->
      <ul class="navbar-nav">
        <li class="nav-item  class=" active" ">
          <%= link_to dashboard_path, class: 'nav-link' do %>
            <i class="ni ni-tv-2 text-primary"></i>
            Dashboard
          <% end %>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="../examples/icons.html">
            <i class="ni ni-planet text-blue"></i> Connected Accounts
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="../examples/maps.html">
            <i class="ni ni-pin-3 text-orange"></i> Profile
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="../examples/profile.html">
            <i class="ni ni-single-02 text-yellow"></i> Settings
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link  active " href="../examples/tables.html">
            <i class="ni ni-bullet-list-67 text-red"></i> Support
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
